<?php /** @var \Firepush\Webpush\Block\Script\FirepushShopScript $block */ ?>
<?php if ($block->isEnabled()) : ?>
    <script type="text/javascript">
        window._fp_config = window._fp_config || {};
        _fp_config['worker_url'] = '<?php echo $block->getServiceWorkerJsUrl() ?>';
        _fp_config['pending_actions'] = <?php echo $block->getPendingActionsJSON() ?>;
        _fp_config['customer_id'] = '<?php echo $block->getCustomerId() ?>';
    </script>
    <script type="text/javascript">
        require([
            'jquery',
            '<?php echo $block->getEmbedJsUrl() ?>'
        ], function ($, firePush) {
            $(function () { // to ensure that code evaluates on page load
                <?php if (($cart_data = $block->getUpdatedCartData())) : ?>
                var cart_data = <?php echo $cart_data; ?>;
                firePush.notify_cart_update( cart_data );
                <?php endif; ?>
            });
        });
    </script>

<?php endif; ?>